:root {
  --color1: #F56236;
  --color2: #FCE788;
  --color3: #88FCA3;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0125em;
}

.error-list {
  background-color: var(--color1);
}

.warn-list {
  background-color: var(--color2);
}

.info-list {
  background-color: var(--color3);
}
